@media (max-width: 575px) {
    .container {
        max-width: 390px;
    }

    .name {
        text-align: center;
    }

    /* ----Navbar Section---- */
    .navbar-nav {
        gap: 20px;
    }

    .navbar-brand img {
        width: 140px;
    }

    .navbar-toggler-icon {
        background: url("../images/navbar_toggle_image.webp") no-repeat;
    }

    /* ----Banner Section---- */
    #banner {
        background: #F9F9FC;
    }

    #banner .row {
        row-gap: 40px;
    }

    #banner .name {
        margin-top: 14px;
    }

    #banner .info .title {
        text-align: center;
        font-size: 44px;
        line-height: 64px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #banner .image {
        background-size: contain;
        height: 440px;
    }

    #banner .image img {
        height: 330px;
        top: 45%;
        left: 53%;
        transform: translate(-50%, -50%)
    }

    .banner-buttons {
        flex-direction: column;
    }

    /* ----Counter Section---- */
    #counter {
        margin-top: 64px;
    }

    #counter .row {
        row-gap: 50px;
    }

    /* ----Services Section---- */
    #services {
        margin-top: 99px;
        padding-bottom: 64px;
    }

    #services .title {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.17px;
        margin-bottom: 6px;
    }

    #services .row {
        gap: 30px;
        margin-top: 27px;
    }

    /* ----Graphics Designer Section---- */
    #designer {
        margin-top: 0;
        padding: 80px 0;
    }

    #designer .title {
        font-size: 44px;
        line-height: 64px;
        text-align: center;
        margin-top: 14px;
    }

    #designer .description {
        text-align: center;
        margin-top: 0;
    }

    #designer button {
        margin-top: 14px;
    }

    .designer-btn {
        display: flex;
        justify-content: center;
    }

    #designer .image {
        display: none;
    }

    /* ----Logo Section---- */
    #logo {
        margin-top: 67px;
    }

    #logo .wrapper {
        flex-wrap: wrap;
        row-gap: 22px;
        justify-content: space-between;
    }

    #logo .wrapper img {
        width: 166px;
    }


    /* ----Portfolio Section---- */
    #portfolio {
        margin-top: 99px;
        padding-bottom: 64px;
    }

    #portfolio .texts {
        flex-direction: column;
    }

    #portfolio .texts h2 {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.17px;
    }

    #portfolio .texts p {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #portfolio .card-title {
        font-size: 16px;
        line-height: 27px;
        font-weight: 600;
    }

    #portfolio .row {
        column-gap: 30px;
        margin: 0;
    }

    #portfolio .row>* {
        padding: 0;
    }

    /* ----Testimony Section---- */
    #testimony {
        padding: 115px 0 0;
        background: #F9F9FC;
    }

    #testimony .title {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.17px;
    }

    #testimony .description {
        text-align: center;
    }

    #testimony .wrapper {
        flex-direction: column;
        gap: 30px;
    }

    /* ----Contact Section---- */
    #contact .container {
        padding: 73px 0 90px 0;
    }

    #contact .title {
        font-size: 38px;
        line-height: 52px;
        letter-spacing: 0.19px;
        text-align: center;
        max-width: 314px;
    }

    #contact button {
        margin-top: 22px;
    }

    /* ----Footer Section---- */
    footer {
        padding: 77px 30px 40px 30px;
        margin: 0 24px;
    }

    footer .wrapper {
        flex-direction: column;
    }

    footer .image {
        width: 209px;
        margin: 0 auto;
    }

    footer img {
        width: 100%;
    }

    footer .description {
        text-align: center;
        margin-top: 14px;
        margin-bottom: 55px;
    }

    footer .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .line {
        margin-top: 50px;
        margin-bottom: 36px;
    }

    footer .menu {
        flex-direction: column;
        gap: 23px;
    }

    footer .menu ul {
        gap: 17px;
    }

    footer .menu ul a {
        font-size: 13px;
    }
}