* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    line-height: 0.8;
}

.container {
    max-width: 1208px;
    padding: 0;
}

.name {
    color: #5E3BEE;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

/* ----Navbar Section---- */
.navbar {
    padding: 0;
    margin-top: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.navbar-nav {
    display: flex;
    gap: 47px;
}

.navbar-nav li a {
    color: #000;
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.5px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.nav-button button {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 50px;
    border: 0;
    background: #5E3BEE;
    padding: 11px 22px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.nav-button button i {
    font-size: 18px;
}

/* ----Banner Section---- */
#banner {
    margin-top: 46px;
    background: #F9F9FC;
    padding-bottom: 40px;
}

#banner .info .title {
    color: #333;
    font-family: "Poppins", serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    margin-top: 32px;
}

.banner-buttons {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 23px;
}

.banner-buttons button {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 50px;
    border: 0;
    background: #5E3BEE;
    padding: 22px 38px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 9px;
}

.banner-buttons button i {
    font-size: 18px;
}

.banner-buttons a {
    color: #333;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
}

#banner .image {
    background: url("../images/banner_image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 666px;
}


#banner .image img {
    height: 580px;
    position: relative;
    left: 60%;
    top: -20px;
    transform: translateX(-50%);
}

/* ----Counter Section---- */
#counter {
    margin-top: 93px;
}

#counter .row h3 {
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.5px;
    color: #000;
}

#counter .row {
    margin: 0;
}

#counter .row p {
    color: rgba(18, 18, 18, 0.70);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 8px;
}

/* ----Services Section---- */
#services {
    margin-top: 133px;
    padding-bottom: 140px;
}

#services .name {
    text-align: center;
}

#services .title {
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.22px;
    margin: 12px 0;
    color: #000;
}

#services .description {
    color: rgba(18, 18, 18, 0.70);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    max-width: 600px;
    margin: 0 auto;
}

#services .row {
    margin: 64px 0 0 0;
}

#services .card {
    padding: 52px 34px;
    box-sizing: border-box;
    max-width: 376px;
    border: 0;
    border-radius: 24px;
    background: #F9F9FC;
    box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.10);
}

#services .card img {
    width: 36px;
    height: 36px;
    margin: 0 auto;
}

#services .card .card-body {
    padding: 0;
}

#services .card .card-title {
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.5px;
    margin-top: 35px;
    margin-bottom: 9px;
}

#services .card .card-text {
    color: rgba(18, 18, 18, 0.70);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
}

/* ----Graphics Designer Section---- */
#designer {
    background: #F9F9FC;
    padding-top: 90px;
    padding-bottom: 15px;
}

#designer .title {
    color: #333;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    margin-top: 22px;
}

#designer .description {
    color: #333;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    margin-top: 15px;
}

#designer button {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 0;
    border-radius: 50px;
    background: #5E3BEE;
    margin-top: 30px;
    padding: 23px 39px;
    display: flex;
    align-items: center;
    gap: 9px;
}

#designer button i {
    font-size: 18px;
}

#designer .image {
    background: url("../images/designer_image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

#designer img {
    height: 580px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* ----Logo Section---- */
#logo {
    margin-top: 127px;
}

#logo .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ----Portfolio Section---- */
#portfolio {
    margin-top: 160px;
    padding-bottom: 132px;
}

#portfolio .texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;
}

#portfolio .texts h2 {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.22px;
    color: #000;
    margin-top: 12px;
}

#portfolio .texts p {
    color: rgba(18, 18, 18, 0.70);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    max-width: 557px;
}

#portfolio .row {
    row-gap: 45px;
    margin-top: 50px;
}

#portfolio .card {
    border: 0;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.10);
}

#portfolio .card .card-body {
    padding: 0;
    margin-top: 33px;
    padding: 0 0 47px 47px;
}

#portfolio .card-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.5px;
}

#portfolio .card-text {
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}

/* ----Testimony Section---- */
#testimony {
    padding-top: 147px;
}

#testimony .name {
    text-align: center;
}

#testimony .title {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.22px;
    text-align: center;
    color: #000;
    margin: 12px 0;
}

#testimony .description {
    color: rgba(18, 18, 18, 0.70);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    max-width: 600px;
    margin: 0 auto;
}

#testimony .item {
    padding: 44px 58px 44px 42px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 27px 37px 80px 0px rgba(0, 0, 0, 0.10);
    max-width: 584px;
}

#testimony .item .rating {
    display: flex;
    gap: 5px;
    margin-bottom: 32px;
}

#testimony .item .rating i {
    color: #EEC01C;
}

#testimony .comment {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1.5px;
    margin-bottom: 27px;
}

#testimony .item .profile {
    display: flex;
    align-items: center;
    gap: 17px;
}

#testimony .item .info h4 {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.5px;
}

#testimony .item .info p {
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

#testimony .comment-box i {
    font-size: 35px;
    color: #5E3BEE;
}

#testimony .wrapper {
    display: flex;
    gap: 40px;
    margin-top: 57px;
}

/* ----Contact Section---- */
#contact {
    margin-top: 136px;
}

#contact .container {
    background: url("../images/contact_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 112px 0 126px 0;
    border-radius: 24px;
}

#contact .title {
    color: #333;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.25px;
    max-width: 628px;
    margin: 0 auto;
}

#contact button {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 50px;
    border: 0;
    background: #5E3BEE;
    padding: 23px 39px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

#contact button i {
    font-size: 18px;
}

/* ----Footer Section---- */
footer {
    margin: 0 52px;
    border-radius: 24px 24px 0px 0px;
    background: #333;
    margin-top: 132px;
    padding: 112px 205px 66px 167px;
}

footer .wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

footer .description {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    max-width: 374px;
    margin-top: 24px;
    margin-bottom: 75px;
}

footer .email {
    margin-bottom: 23px;
}

footer .email,
footer .phone {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .email i,
footer .phone i {
    font-size: 18px;
}

footer .icons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 26px;
}

footer .icons i {
    font-size: 23px;
    color: #FFF;
}

footer .line {
    height: 1px;
    width: 100%;
    background: #404040;
    margin-bottom: 52px;
}

footer .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    display: flex;
    gap: 47px;
    margin-bottom: 0;
    padding-left: 0;
}

footer ul a {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

footer .privacy a {
    color: rgba(255, 255, 255, 0.60);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
